<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327816053228-68svmop6l6ekds9sm8dkjiggj366c7ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327816053228-68svmop6l6ekds9sm8dkjiggj366c7ke</string>
	<key>API_KEY</key>
	<string>AIzaSyAFljxmCafz7XuP33IZgukAUTef1dM7ySU</string>
	<key>GCM_SENDER_ID</key>
	<string>327816053228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.MyProject2</string>
	<key>PROJECT_ID</key>
	<string>myapp3-61dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp3-61dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327816053228:ios:417027ab660592ca6880c9</string>
	<key>DATABASE_URL</key>
	<string>https://myapp3-61dd1.firebaseio.com</string>
</dict>
</plist>