<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34179659302-cgnbtot07j2d4c1ca6msqpvf9jmplbei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34179659302-cgnbtot07j2d4c1ca6msqpvf9jmplbei</string>
	<key>API_KEY</key>
	<string>AIzaSyDwt75pHEPHqCRnbr8KNrbc4q-js_gXIu4</string>
	<key>GCM_SENDER_ID</key>
	<string>34179659302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.MyProject2</string>
	<key>PROJECT_ID</key>
	<string>myproject-403b8</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-403b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34179659302:ios:338c6dccba487e72cfd8e7</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-403b8.firebaseio.com</string>
</dict>
</plist>